<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/shops"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!loading">
    <ion-list>
      <ion-item *ngFor="let product of products" lines="full">
        <ion-avatar slot="start" class="avatar">
          <img [src]="product.imgUrl" [alt]="product.nome" />
        </ion-avatar>

        <ion-label class="animate__animated animate__backInLeft">
          <strong size="large"> {{product.nome }} </strong>
          <!-- Preco normal -->
          <p *ngIf="!product.emPromocao">{{ product.preco | currency:'KZ ' }}</p>
          <!-- Preco com promocao -->
          <p *ngIf="product.emPromocao">
            Desconto: {{ product.desconto }}%
            <br>
            {{ productService.calculateDiscountedPrice(product.preco, product.desconto || 0) | currency:'KZ ' }}
          </p>
        </ion-label>

        <div item-end class="animate__animated animate__backInLeft">
        <!-- Botão para marcar como em promoção -->
        <ion-button *ngIf="!product.emPromocao" (click)="openDiscountModal(product.id)" fill="outline" size="small">
          <ion-icon slot="start" name="pricetag" style="zoom:1.5" color="success"></ion-icon>
        </ion-button>
        
        <!-- Botão para remover da promoção -->
        <ion-button *ngIf="product.emPromocao" (click)="removePromotional(product.id)" fill="outline" size="small">
          <ion-icon slot="start" name="pricetag" style="zoom:1.5" color="danger"></ion-icon>
        </ion-button>

          <ion-button [routerLink]="['/update-product/',product.id]" fill="outline" size="small">
            <ion-icon slot="start" name="create" style="zoom:1.5" color="primary"></ion-icon>
          </ion-button>
      
          <ion-button (click)="remove(product.id, product.imgUrl)" fill="outline" size="small">
            <ion-icon slot="start" name="trash" style="zoom:1.5" color="danger"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>

    <ion-fab slot="fixed" vertical="bottom" horizontal="center">
      <ion-fab-button [routerLink]="['/add-product']" routerLinkActive="router-link-active" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</div>

<div class="loading-container" *ngIf="loading">
  <ion-spinner></ion-spinner>
  <p class="loading-message">Carregando...</p>
</div>

</ion-content>
