.empty-cart-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #555; /* Cor do texto */
  font-size: 25px; /* Tamanho da fonte */
  text-align: center; /* Alinhamento do texto */
}

